.au-grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px ;
    border-radius: 10px;
    
  }
  
  .au-item {
    background-color: #FE920C;
    border: 1px solid #323232;
    padding: 3px;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    text-align:center;
  }

  .au-item >input,.au-item >button{
    margin:10px;
  }